.custom-collections {
  padding: 64px 0;
}

.collections-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.collection-item {
  max-width: 564px;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  text-align: left;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.collection-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 564 / 432;
}

.collection-item h3 {
  font-size: 24px;
  color: #282B3A;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
}

.collection-item p {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #808080;
  margin: 0;
}

.colletion-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 48px 0px 0px;
}

.shop-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 0.875em;
}

@media (max-width: 768px) {
  .collection-item {
    width: 100%;
  }

  .custom-collections {
    padding: 48px 24px;
  }

  .collection-item h3 {
    font-size: 20px;
    line-height: 28px;
  }
  
  .collection-item p {
    line-height: 19px;
  }
  
  .collections-wrapper {
    gap: 16px;
    padding: 0 0;
  }
}